body{
    background-color: #f6e5f5;
    font-family:monospace;
}

#title{
    text-align:center;
    
}

#date{
    text-align:center;
}
.showImg{
   width: 50%;
   margin-left: 25%;
   margin-right:25%;
   border-radius: 5px;
   padding: 15px;
   background: #b9cced;
   display:show;
   
}
.hideVid{
    display:none;
}
.showVid{

    width: 50%;
    height:400px;
    margin-left: 25%;
    margin-right:25%;
    border-radius: 5px;
    padding: 15px;
    background: #b9cced;
   
}
.hideImg{
    display:none;
}
#explanation{
    font-size:larger;
    text-align:center;
    padding:20px;
}
#titleOfimg{
    text-align:center;
    font-weight: bold;

}

#cpyRight{    

    text-align:center;
}
@media(max-width: 768px)
{
    #title{
    
        width: 85%;
        margin-left: 8%;        

    }
    .showVid, .showImg
    {
        width: 60%;    
        margin-left: 20%;
        margin-right: 20%;
        height: 100%
    }


}